<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssu.today.domain.member.mapper.MemberMapper">
    <select id="findById" resultType="ssu.today.domain.member.dto.MemberResponse" parameterType="java.lang.Long">
        SELECT * FROM members WHERE auth_id = #{authId}
    </select>

    <select id="findByRefreshToken" resultType="ssu.today.domain.member.dto.MemberResponse" parameterType="java.lang.String">
        SELECT * FROM members WHERE refresh_token = #{refreshToken}
    </select>

    <insert id="save" parameterType="ssu.today.domain.member.dto.MemberResponse">
        INSERT members (auth_id, email, platform, image, refresh_token) VALUES (#{authId}, #{email}, #{platform}, #{image}, #{refreshToken})
    </insert>

    <update id="update" parameterType="ssu.today.domain.member.dto.MemberResponse">
        UPDATE members SET email = #{email}, platform = #{platform}, image = #{image} WHERE auth_id = #{authId}
    </update>

    <update id="updateRefreshToken" parameterType="ssu.today.domain.member.dto.MemberResponse">
        UPDATE members SET refresh_token = #{refreshToken} WHERE auth_id = #{authId}
    </update>
</mapper>